


.navUl li{
    display: inline;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    }

.navUl li a{
    padding: 5px;
    text-decoration: none;
}


.nav-right{
    text-align: right;
    margin-right: 10px;
}